
<div class="jumbotron">
  <h3><a [routerLink]="['/article',this.article.id]"> {{this.article.title}} </a></h3>
  <p class="lead"> {{this.article.content}}</p>
  <blockquote>Written by {{this.article.authors}}</blockquote>
  <div *ngIf="router.url !== '/articles'">
    <button (click)="delete()">Delete</button>
    <button (click)="update()">modify</button>
  </div>
  </div>

