
<div class="text-center">
  <form >
    <label class="center-block">Search article :
      <input class="form-control" (keyup)="search($event)">
    </label>
  </form>
</div>

<div *ngFor="let article of this.articles()">
  <app-article  [article]="article" (deletedArticle)="delete($event)"  ></app-article>
</div>
