

<h2>Article</h2>
<h3><i>Modify your article</i></h3>
<form [formGroup]="articleForm" (ngSubmit)="updateArticle()">
  <div class="form-group">
    <label class="center-block">title: {{this.article.title}} </label>
    <br />
    <label class="center-block">content:
      <textarea class="form-control" formControlName="content"></textarea>
    </label>
    <br />
    <label class="center-block">authors:  {{this.article.authors}}   </label>
    <br />
    <button class="btn btn-success" [disabled]="articleForm.invalid" type="submit">Save</button>
  </div>
</form>
